html {
  font-size: 16px;
    font-family: 'Nanum Myeongjo', serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
}

.byline{
  text-align: center;
  font-size: 21px;
}

img{
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.credit{
  color: gray;
}

div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

iframe{
  background-color: #EFF2F1;
  border: 3px;
  padding: 20px;
  margin: 50px;
  border-style: solid;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
